page {
		height: 94%;
	}
	
.main {
		width: 750rpx;
		height: 100%;
}

.text {
	font-family: PingFang-SC-Bold;
	font-size: 34rpx;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rpx;
	color: #333333;
	margin-top: 67rpx;
	margin-left: 343rpx;
}

.banner {
	width: 702rpx;
	height: 296rpx;
	background-image: linear-gradient(-37deg, 
		rgba(253, 221, 109, 0.17) 0%, 
		rgba(254, 152, 69, 0.17) 100%), 
	linear-gradient(
		#fdad28, 
		#fdad28);
	background-blend-mode: normal, 
		normal;
	border-radius: 30rpx;
	margin-left: 24rpx;
	margin-top: 42rpx;
}

.function {
	width: 701rpx;
	height: 234rpx;
	margin-left: 25rpx;
	display: flex;
	justify-content: space-between;
	margin-top: 36rpx;
}

.box {
	width: 193rpx;
	height: 193rpx;
	background-color: #ffffff;
	box-shadow: 8rpx -4rpx 68rpx 0rpx 
			rgba(89, 44, 5, 0.15);
	border-radius: 30rpx;
}
.smallbox {
	width: 44px;
	height: 55px;
	margin-left: 29px;
	margin-top: 20px;
	
}
.image {
		width: 71rpx;
		height: 69rpx;	
		
}
.font {
		font-family: PingFang-SC-Medium;
		font-size: 22rpx;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 0rpx;
		color: #333333;
}
.title-box{
	height: 16px;
	display: flex;
	flex-direction: row;
}
.line {
	width: 8rpx;
	height: 30rpx;
	background-color: #eb9229;
	border-radius: 4rpx;
	margin-left: 25rpx;
	margin-top: 8rpx;
}
.title {
	font-family: PingFang-SC-Bold;
	font-size: 34rpx;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rpx;
	color: #333333;
	margin-left:11rpx;
}
.more {
	font-family: PingFang-SC-Medium;
	font-size: 22rpx;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rpx;
	color: #cccccc;
	margin-top: 10rpx;
	margin-left: 483rpx;
}
.arrow-right {
	width: 5rpx;
	height: 12rpx;
	margin-left: 18rpx;
	margin-top: 16rpx;
}
.buttom-box {
	display: inherit;
	width: 702rpx;
	height: 425rpx;
	margin-top: 36rpx;
	margin-left: 24rpx;
}
.time {
	width: 702rpx;
	height: 425rpx;
	background-color: #ffffff;
	box-shadow: 8rpx -4rpx 29rpx 0rpx 
			rgba(89, 44, 5, 0.13);
	border-radius: 10rpx;
}
